@page "/echo_ecg/{idFichiste}"
@using LYRA.Controllers.ControllerExamens
@using LYRA.Controllers.ControllerFichiste
@using LYRA.Models.Examens
@using LYRA.Models
@using LYRA.Controllers.ControllerSecretaire
@using LYRA.Controllers.ControllerUtilisateur
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
@using LYRA.Shared.EchoEcg
@inject NavigationManager Go
@inject IAffiliationService affiliService
@inject IAdhesionService adhesionService
@inject IFichisteService fichisteservice
@inject ILocalStorageService _localStorageService
@inject IUtilisateurService uService
@inject IExamenService examenService
@inject IToastService toastService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@layout EchoEcgLayout
@attribute [Authorize(Roles = "EchoEcg, Admin")]

<style type="text/css">
    .border-left-primary {
        border-left: 0.25rem solid #4e73df !important;
    }

    .border-left-secondary {
        border-left: 0.25rem solid #ffc107 !important;
    }

    .pb-2, .py-2 {
        padding-bottom: 0.5rem !important;
    }
</style>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h4 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>N° OSIET </b>&ensp;<i>@numOsiet</i>&ensp;<b>Nom du patiant </b>&ensp;<i>@Nom </i>&ensp;<b>Etablissement </b>&ensp;<i>@Etablissement</i>
            </button>
        </h4>
        <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-xl-4 col-md-6 m-0">
                        <div class="card border-left-primary shadow  py-2">
                            <div class="card-body m-0">
                                <table class="table table-sm table-bordered mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row">N° OSIET</th>
                                            <td style="font-weight:bold">@numOsiet</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">NOM COMPLET</th>
                                            <td>@Nom</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CARACTERISTIQUE</th>
                                            <td>
                                                @if (fichiste != null)
                                                {
                                                    @fichiste.Categorie
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                @if (files != null)
                                {
                                    int i = 0;

                                    foreach (var file in files)
                                    {
                                        if (i == 0)
                                        {
                                            <a style="border-radius:0;" href="@file.Substring(8)" data-lightbox="roadtrip" class="btn btn-sm btn-primary w-100">Historiques de patiant</a>
                                        }
                                        else
                                        {
                                            <a href="@file.Substring(8)" data-lightbox="roadtrip" class="d-none"></a>
                                        }
                                        i++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-6 mb-0">
                        <div class="card border-left-secondary shadow py-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <table class="table table-sm table-bordered mb-0">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">HEURE D’ARRIVEE</th>
                                                    <td>
                                                        @if (fichiste != null)
                                                        {
                                                            @fichiste.Date.TimeOfDay.Hours

                                                            <span>h</span>
                                                            <span>@fichiste.Date.TimeOfDay.Minutes</span>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">N° DU JOUR</th>
                                                    <td>
                                                        @if (fichiste != null)
                                                        {
                                                            @fichiste.Numjour
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">N° PARAMETRE</th>
                                                    <td>
                                                        @if (fichiste != null)
                                                        {
                                                            @fichiste.Parametreid
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col">
                                        @*<h4 class="">PARAMETRES</h4>*@
                                        <table class="table table-sm table-bordered mb-0">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">TEMPERATURE</th>
                                                    <td>
                                                        <span class="" style="color: #fd7e14; font-weight:bold; font-size:1.1em">
                                                            @if (parametre != null)
                                                            {
                                                                @parametre.Temperature <span>°</span>
                                                            }
                                                        </span>
                                                    </td>
                                                    <th scope="row">T.A.D</th>
                                                    <td>
                                                        <span class="" style="color: #0d6efd; font-weight:bold; font-size:1.1em">
                                                            @if (parametre != null)
                                                            {
                                                                @parametre.Tad
                                                            }
                                                        </span>
                                                    </td>
                                                    <th scope="row">T.A.G</th>
                                                    <td>
                                                        <span class="" style="color: #6f42c1; font-weight:bold; font-size:1.1em">
                                                            @if (parametre != null)
                                                            {
                                                                @parametre.Tag
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">FREQUENCE CARDIAQUE</th>
                                                    <td>
                                                        <span class="" style="font-weight:bold; font-size:1.1em">
                                                            @if (parametre != null)
                                                            {
                                                                @parametre.FrequenceCardiaque
                                                            }
                                                        </span>
                                                    </td>
                                                    <th scope="row">POIDS</th>
                                                    <td colspan="3">
                                                        <span class="" style="color: #0d6efd; font-weight:bold; font-size:1.1em">
                                                            @if (parametre != null)
                                                            {
                                                                @parametre.Poids
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">OBSERVATION</th>
                                                    <td colspan="5">
                                                        @if (parametre != null)
                                                        {
                                                            @parametre.Observation
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-2">
    <RadzenGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced"
                AllowPaging="true" PageSize="7" AllowSorting="true" Responsive="false" Data="@echoEcgs"
                TItem="EchoEcg" OrOperatorText="Ou" ContainsText="contient" StartsWithText="commencer par"
                EndsWithText="terminer par" EqualsText="égal à" NotEqualsText="différent de"
                AndOperatorText="et" FilterText="Filtre" ClearFilterText="effacer"
                ApplyFilterText="appliquer" PageSizeText="Page" ColumnWidth="100%"
                SelectionMode="DataGridSelectionMode.Single">
        <Columns>
            <RadzenGridColumn TItem="EchoEcg" Property="EchoEcgId" Title="ID"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Property="Date" Title="DATE"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Property="Echo" Title="ECHO"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Property="Ecg" Title="ECG"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Property="Demande" Title="DEMANDE"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Property="Resultat" Title="RESULTAT"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Property="Prescripteur" Title="PRESCRIPTEUR"></RadzenGridColumn>
            <RadzenGridColumn TItem="EchoEcg" Title="" Filterable=false Sortable=false Width="90px">
                <Template Context="data">
                    <RadzenButton Click="@(()=>Preparation(data))" Text="Preparer" Size="ButtonSize.Small" />
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</div>
<div class="card mt-1 mb-4">
    <div class="card-header">
        <div class="row m-0 p-0">
            <div class="col-auto">
                <h4 class="d-flex justify-content-left align-content-center ">Consultation</h4>
            </div>
            <div class="col ">
                <label class="float-right badge badge-info mt-1" style="font-size:15px"> ID DENTISTE :  @echoEcg.EchoEcgId</label>
            </div>
        </div>
    </div>

    <div class="card-body ">

        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <label class="form-label" style="font-weight:bold">Resultat : </label><br />
                            <RadzenTextArea Placeholder="Rediger ici les plaintes" class="form-comtrol w-100" Style="height:4rem; font-size:1em" @bind-Value="@echoEcg.Resultat" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-xl-6">
                <RadzenButton Click="@(()=>Go.NavigateTo("/echoecg_attente"))" ButtonStyle="ButtonStyle.Warning" class="float-left" Text="Retour en arriere" />
            </div>
            <div class="col-xl-6">

                <div class="row">
                    <div class="col float-right">

                        <div class="col-auto">
                            <RadzenButton Click="@(()=>SaveEchoEcg())" ButtonStyle="ButtonStyle.Secondary" class="float-right mr-3  no-radius" Text="Enregistrer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<BlazoredToasts Position="ToastPosition.TopRight" Timeout="4" />
@code {
    [Parameter]
    public string idFichiste { get; set; } = null!;
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    private ToastParameters? _toastParameters;
    string[]? files;
    string? plaintes;
    string? symptomes;
    string? observations;
    string? numOsiet, Nom, Etablissement;
    string emailAddress = "";
    string? programmer;
    string? name;
    bool session;
    int Age;
    Fichiste fichiste = new();
    Parametre parametre = new();
    Employer employer = new();
    Employeur employeur = new();
    Famille famille = new();
    EchoEcg echoEcg = new();
    List<EchoEcg> echoEcgs = new List<EchoEcg>();
    bool? nouveau_cas = false;
    DateTime rdv = DateTime.Now;
    bool rdvCheck = false;

    protected async override void OnInitialized()
    {
        session = await sessionStorage.GetItemAsync<bool>("session");

        fichiste = await fichisteservice.getFichisteById(Convert.ToInt64(idFichiste));
        echoEcgs = await examenService.GetAllEchoEcgByFichiste(fichiste.Fichisteid);
        if (fichiste.Categorie == "Travailleur")
        {
            await GetEmployer(Convert.ToInt16(fichiste.Affiliationid));
        }
        else if (fichiste.Categorie == "Famille")
        {
            await GetFamille(Convert.ToInt16(fichiste.Affiliationid));
        }

        emailAddress = await _localStorageService.GetItemAsync<string>("emailAddress");
        await InvokeAsync(StateHasChanged);
    }

    private void Preparation(EchoEcg echog)
    {
        this.echoEcg = echog;
    }

    private async Task SaveEchoEcg()
    {
        if (echoEcg.EchoEcgId > 0)
        {
            echoEcg.Statut = "Terminer";
            bool result = await examenService.UpdateEchoEcg(echoEcg);
            if (result)
            {
                _toastParameters = new ToastParameters();
                _toastParameters.Add(nameof(MyToast.Title), "Reussi !");
                _toastParameters.Add(nameof(MyToast.Level), "Success");
                _toastParameters.Add(nameof(MyToast.Message), "Enregistrement terminer.");
                toastService.ShowToast<MyToast>(_toastParameters);
            }
            else
            {
                _toastParameters = new ToastParameters();
                _toastParameters.Add(nameof(MyToast.Title), "Erreur !");
                _toastParameters.Add(nameof(MyToast.Level), "Error");
                _toastParameters.Add(nameof(MyToast.Message), "Erreur de l'enregistrement, contacter l'administrateur.");
                toastService.ShowToast<MyToast>(_toastParameters);
            }
            echoEcgs = await examenService.GetAllEchoEcgByFichiste(fichiste.Fichisteid);
            echoEcg = new();
            StateHasChanged();
        }
        else
        {
            _toastParameters = new ToastParameters();
            _toastParameters.Add(nameof(MyToast.Title), "Attention !");
            _toastParameters.Add(nameof(MyToast.Level), "Warning");
            _toastParameters.Add(nameof(MyToast.Message), "Veuillez cliquer sur preparer dans la liste du tableau.");
            toastService.ShowToast<MyToast>(_toastParameters);
        }
    }

    public async Task GetFamille(int familleID)
    {
        famille = await affiliService.GetFamilleById(familleID);
        if (famille.Numeroosiet != null)
        {
            employer = await affiliService.GetEmployerByNumOsiet(famille.Numeroosiet);
            if (employer.Numemployeur != null)
            {
                employeur = await adhesionService.GetEmployeurByEmployer(employer.Numemployeur);
                numOsiet = famille.Numeroosiet;
                Nom = famille.Nom + " " + famille.Prenom;
                Etablissement = employeur.Raisonsociale;
                if (famille.Datenaissance != null)
                {
                    Age = DateTime.Now.Year - famille.Datenaissance.Value.Year;
                }
            }

        }
    }

    public async Task GetEmployer(int employerID)
    {
        employer = await affiliService.GetEmployerById(employerID);
        if (employer.Numemployeur != null)
        {
            employeur = await adhesionService.GetEmployeurByEmployer(employer.Numemployeur);
            numOsiet = employer.Numeroosiet;
            Nom = employer.Nom + " " + employer.Prenom;
            Etablissement = employeur.Raisonsociale;
            if (employer.Datenaissance != null)
            {
                Age = DateTime.Now.Year - employer.Datenaissance.Value.Year;
            }

        }
    }

}
