@page "/dentiste_medecin/{idConsultation}"
@using LYRA.Controllers.ControllerDentiste
@using LYRA.Shared.Dentiste
@using LYRA.Controllers.ComtrollerMedecin
@using LYRA.Controllers.ControllerFichiste
@using LYRA.Controllers.ControllerSecretaire
@using LYRA.Controllers.PharmacieController
@using LYRA.Models
@using LYRA.Models.Examens
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
@using Radzen
@using Radzen.Blazor
@using LYRA.Shared.Medecin
@inject NavigationManager Go
@inject IToastService toastService
@inject IAffiliationService affiliService
@inject IFichisteService fichisteservice
@inject IMedecinService medecinService
@inject IAdhesionService adhesionService
@inject IAffiliationService affiliationService
@inject IDentisteService dentisteService
@layout DentisteLayout
@attribute [Authorize(Roles = "Dentiste, Admin")]

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="d-flex justify-content-left align-content-center p-0 m-0">Création dentiste pour le patiant</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4 col-md-6 m-0">
                    <div class="card border-left-primary shadow  py-2">
                        <div class="card-body m-0">
                            <table class="table table-sm table-bordered" style="">
                                <tbody>
                                    <tr>
                                        <th scope="row">N° OSIET</th>
                                        <td style="font-weight:bold">
                                            @if (fichiste != null)
                                            {
                                                <span>@numOsiet</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">NOM COMPLET</th>
                                        <td>
                                            @if (fichiste != null)
                                            {
                                                <span>@Nom</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ETABLISSEMENT</th>
                                        <td>
                                            @if (fichiste != null)
                                            {
                                                <span>@Etablissement</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CARACTERISTIQUE</th>
                                        <td>
                                            @if (fichiste != null)
                                            {
                                                <span>@fichiste.Categorie</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">AGE</th>
                                        <td>
                                            @if (fichiste != null)
                                            {
                                                <span>@age</span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-left-primary shadow  py-2">
                        <div class="card-body m-0">
                            <div class="row">
                                <div class="col ">
                                    <div class="col mb-3 ">
                                        <label>Dent numero : </label>
                                        <RadzenNumeric @bind-Value="@numeroDent" TValue="int" Placeholder="Numero du dent" />
                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="col mb-3 ml-0 pl-0">
                                        <RadzenDropDown TValue="string" @bind-Value="@type" Class="form-control" Data=@type_soins Placeholder="Veuillez choisir le type de soins" />
                                    </div>
                                </div>
                            </div>
                            <div class="col ">
                                <div class="input-group input-group-sm mb-3">
                                    <RadzenTextArea Name="commentRadzen" @bind-Value="@demande" class="w-100" style="height: 57px" Placeholder="Demande" />
                                </div>
                                <RadzenButton Click="@(()=>saveDentisteMedecin())" class="float-right ml-4" Text="Enregistrer" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" />
                                <RadzenButton Click="@(()=>Go_Back())" class="float-right" Text="Consultation" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2 mb-4">
        <div class="card-header">
            <h5 class="mb-0">Liste du demande</h5>
        </div>
        <div class="card-body" style="border-radius: 0">
            <RadzenGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced"
                        AllowPaging="true" PageSize="7" AllowSorting="true" Responsive="false" Data="@dentistes"
                        TItem="Dentiste" OrOperatorText="Ou" ContainsText="contient" StartsWithText="commencer par"
                        EndsWithText="terminer par" EqualsText="égal à" NotEqualsText="différent de"
                        AndOperatorText="et" FilterText="Filtre" ClearFilterText="effacer"
                        ApplyFilterText="appliquer" PageSizeText="Page" ColumnWidth="100%"
                        SelectionMode="DataGridSelectionMode.Single">
                <Columns>
                    <RadzenGridColumn TItem="Dentiste" Property="Dentisteid" Title="ID"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Dentiste" Property="Date" Title="DATE"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Dentiste" Property="Age" Title="AGE"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Dentiste" Property="Demande" Title="Demande"></RadzenGridColumn>
                    <RadzenGridColumn TItem="Dentiste" Property="Resultat" Title="Resultat"></RadzenGridColumn>
                    @*<RadzenGridColumn TItem="Dentiste" Property="Commentaires" Title="Commentaire"></RadzenGridColumn>*@
                </Columns>
            </RadzenGrid>
        </div>
    </div>
</div>
<BlazoredToasts Position="ToastPosition.TopRight" Timeout="4" />
@code {
    [Parameter]
    public string idConsultation { get; set; } = null!;
    IEnumerable<string> type_soins = new string[] { "Soins", "Extraction", "Autre" };
    int numeroDent, age;
    string? demande, numOsiet, Nom, Etablissement, categorie, type;
    Fichiste fichiste = new();
    Employer employer = new();
    Employeur employeur = new();
    Famille famille = new();
    Consultation consultation = new();
    bool urgence;
    List<Dentiste> dentistes = new List<Dentiste>();
    private ToastParameters? _toastParameters;

    protected async override void OnInitialized()
    {
        consultation = await medecinService.GetConsultationById(Convert.ToInt64(idConsultation));
        fichiste = await fichisteservice.getFichisteById(consultation.Fichisteid);
        dentistes = await dentisteService.GetDentisteListeByFichiste(fichiste.Fichisteid);

        if (fichiste.Categorie == "Famille")
        {
            await GetFamille(Convert.ToInt32(fichiste.Affiliationid));
        }
        else if (fichiste.Categorie == "Travailleur")
        {
            await GetEmployer(Convert.ToInt32(fichiste.Affiliationid));
        }
        StateHasChanged();
    }

    public void Go_Back()
    {
        Go.NavigateTo("/docteurPatiant/" + idConsultation);
    }

    private async Task saveDentisteMedecin()
    {
        Dentiste dentiste = new();
        dentiste.Fichisteid = fichiste.Fichisteid;
        dentiste.Date = DateTime.Now;
        dentiste.Age = age;
        dentiste.Demande = demande;
        dentiste.Type = type;
        dentiste.numDent = numeroDent;
        bool result = await dentisteService.CreateDentiste(dentiste);
        if (result)
        {
            _toastParameters = new ToastParameters();
            _toastParameters.Add(nameof(MyToast.Title), "Reussi !");
            _toastParameters.Add(nameof(MyToast.Level), "Success");
            _toastParameters.Add(nameof(MyToast.Message), "Enregistrement terminer.");
            toastService.ShowToast<MyToast>(_toastParameters);
        }
        else
        {
            _toastParameters = new ToastParameters();
            _toastParameters.Add(nameof(MyToast.Title), "Erreur !");
            _toastParameters.Add(nameof(MyToast.Level), "Error");
            _toastParameters.Add(nameof(MyToast.Message), "Erreur de l'enregistrement, contacter l'administrateur.");
            toastService.ShowToast<MyToast>(_toastParameters);
        }
        dentistes = await dentisteService.GetDentisteListeByFichiste(fichiste.Fichisteid);
        await InvokeAsync(StateHasChanged);
    }

    public async Task GetFamille(int familleID)
    {
        famille = await affiliationService.GetFamilleById(familleID);
        if (famille.Numeroosiet != null)
        {
            employer = await affiliationService.GetEmployerByNumOsiet(famille.Numeroosiet);
            if (employer.Numemployeur != null)
            {
                employeur = await adhesionService.GetEmployeurByEmployer(employer.Numemployeur);
                numOsiet = famille.Numeroosiet;
                Nom = famille.Nom + " " + famille.Prenom;
                Etablissement = employeur.Raisonsociale;
                categorie = fichiste.Categorie;
                if (famille.Datenaissance != null)
                {
                    int dateNaissance = famille.Datenaissance.Value.Year;
                    int currentDate = DateTime.Now.Year;
                    age = currentDate - dateNaissance;
                }
            }

        }
    }

    public async Task GetEmployer(int employerID)
    {
        employer = await affiliationService.GetEmployerById(employerID);
        if (employer.Numemployeur != null)
        {
            employeur = await adhesionService.GetEmployeurByEmployer(employer.Numemployeur);
            numOsiet = employer.Numeroosiet;
            Nom = employer.Nom + " " + employer.Prenom;
            Etablissement = employeur.Raisonsociale;
            categorie = fichiste.Categorie;
            if (employer.Datenaissance != null)
            {
                int dateNaissance = employer.Datenaissance.Value.Year;
                int currentDate = DateTime.Now.Year;
                age = currentDate - dateNaissance;
            }
        }
    }
}